/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
* {
    border: 1px black solid;
    box-sizing: border-box;
}
#ABG, h1 {
    font-family: 'Megrim', cursive;
    text-align: center;

}
p, article {
    font-size: 20px;
}
#nav {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    background-color: black;
    color: white;
}
#nav-links {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}
h2 {
    font-family: 'Cinzel', serif;   
}

h3, #headers, .headers {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

ul, li, .contact-screen, #nav-links, .nav-links {
    list-style-type: none;   
}

#headline {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;

}
#headline-header {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    flex-shrink: 3;
    
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 5px 0;
}

#projects-screen, #contact-screen, #about-screen {
    display: flex;
    flex-flow: column;
    /* flex-grow: 2; */
    align-items: center;
    
    
}
#quiz-app-screenshots, #horror-house-screenshots {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    width: 25%;
    height: 15%;
    flex: 0 1 5%;
}

.description {
    align-items: flex-start;
}
article {
    font-family: 'Muli', sans-serif;
    flex-shrink: 3;
    flex-grow: 1;
    flex-direction: start;
    align-self: flex-start;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 5px 0; 
}
.projects-screen-header, .contact-screen-header .about-screen-header {
    background-color: black;
    color: white;

}
/* ////////////////////// TABLET ///////////////////// */
@media only screen and (min-width: 600px) {

    #headline-header {
        width: 75%;
        height: auto;
        
    }
    

}

/* ////////////////////// LAPTOP ///////////////////// */
@media only screen and (min-width: 1000px) {
    #headline {
        flex-direction: column;
        align-items: center;
        

    }
    #headline-header {
        width: 50%;
        flex-grow: 0;
        flex-shrink: 2;
      
    }
    #projects-screen {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #quiz-app-screenshots, #horror-house-screenshots {
        flex-flow: row;
        justify-content: flex-start;
        justify-content: space-evenly;
        
    }
    
    aside {
        display: flex;
        flex-direction: column;
        flex: 3 1 auto;
    }
    
    h3, .header, .projects-screen-header {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    #about-screen, .about-screen, #projects-screens {
        flex-grow: 0;
        flex-shrink: 3;
        flex-direction: column;
        align-items: center;
    
    }
    
    .image {
        width: auto;
        height: 75px;
        flex: 0 3 50px;
    }
    
}

/* ////////////////////// DESKTOP ///////////////////// */


