html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*colors /* background-color: #ffce00; */
        /* background-color: #FFB85B; */
* {
    /* border: 1px black solid; */
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #FBF3F2;
    overflow-x: hidden;
   
}

h1 {
    font-family: 'Cinzel', serif;
    color: #1C768F;
    font-size: 5em; 
    text-align: center;
}

#initials {
    background-color: white;
    visibility: visible;
}

h2 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 2em;
    /* font-size: 30px; */
    margin: 10px auto;
}
#ABG, .header {
    text-align: center;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 10px auto;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
h3 >a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: blue;
}
#contact-screen>ul {
    display: flex;
    flex-direction: row nowrap;
    justify-content: safe center;
}

#email-img, #linked-img, 
#github-img {
    padding: 10px 5px; 
    flex-direction: row;
    flex-flow: 1 1 auto;
    margin: 25px 5px;
}
#connect {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(252, 4, 157);
    padding: 10px auto;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
#nav-links {
    display: flex;
    justify-content: safe center;
    justify-content: space-evenly;
    flex-flow: 1 2 auto;
    
}
.hover>a:hover {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        /* background-color: rgb(252, 4, 157); */
        /* background-color: #FBF3F2; */
        background-color: #1C768F;

}

ul, li {
    list-style: none;
    padding: 10px 10px;    
    font-family: 'Cinzel', serif;
    font-size: 16px;
    flex: 1 3 auto;
    text-align: center;
}
#headline {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    justify-content: space-around;
    align-items: center;
}
#headline-text {
    /* font-family: 'Lora', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 25px;
    text-align: center;
    width: 75%;
    height: 50%;
    flex-shrink: 3;
}

#quiz-app-screenshots {
    flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: safe center;
}
#quiz-app-screenshots>img {
    width: 25%;
    height: auto;
}
#quiz-app-screenshots>aside {
    flex: 2 1 auto;
}
#projects-aside {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* padding: 15px 5px; */
}
#projects-screen .description, 
#about-article {
    font-family: 'Raleway', sans-serif;
}
ol > li {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    flex-flow: 1 2 auto;
}

li img {
    width: 50px;
}
/* .hover:hover {
    color: white;
    font-weight: bold;
    background-color: black;
} */
#connect {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: rgb(252, 4, 157);
    padding: 10px auto;
    margin: 10px 10px;
    text-align: center;
    font-weight: bold;
}
a {
    color: #081E59;
    text-decoration: none;
}
a:visited {
    /* color:  #0263E2; */
    /* color: #FFBF00; */
    color: #1C768F;
}
article, aside {
    /* text-indent: 10px; */
    line-height: 30px;
    margin: 0 auto;
    padding: 5px 30px;
    flex: 1 3 auto;
    width: 85%;
}
.header {
    background-color: white;
}

/* ////////////////////// MOBILE ///////////////////// */
@media only screen and (min-width: 300px) {
    #full-name {
        display: none;
        /* visibility: hidden; */
    }
    #headline-text {
        width: 75%;
        height: 50%;
    }
/* ////////////////////// TABLET/LAPTOP ///////////////////// */
@media only screen and (min-width: 600px) {
    /* h1 {
        
    } */
    #initials {
        visibility: hidden;
    }
    #full-name {
        display: contents;
        /* visibility: visible; */
        font-size: 3em;
        margin: 0 auto;
    }
    #headline-text {
        font-size: 1.5em;
        line-height: 27px;
        height: auto;
        padding: 10px 10px;
    }
    h2 {
        padding: 30px 15px 25px;
    }
    section {
        margin: 10px 15px;
    }

    #projects-screen {
        display: flex;
        flex-direction: column;
    }
    
    #quiz-app-screenshots{
        flex-flow: 1 5 auto;
        width: 45%;
    }
    .zoom {
        padding: 20px;
        transition: transform .2s;
        margin: 0 auto; 
    }
    .zoom:hover {
        background-color: black;
        transform: scale(2);
    }
    article, aside {
        /* text-indent: 10px; */
        
        flex: 1 3 auto;
        width: 60%;
    }
    li img {
        width: 100px;
    }
    #contact-screen>ul {
        display: flex;
        flex-direction: row nowrap;
        justify-content: safe center;
    }

    #email-img, #linked-img, #github-img {
        padding: 10px 10px; 
        flex-direction: row;
        flex-flow: 1 1 auto;
        margin: 25px 25px;
        
        
    }
    
}
/* ////////////////////// DESKTOP ///////////////////// */ 
@media only screen and (min-width: 1000px) {
   .zoom:hover {
        background-color: black;
        transform: scale(3);
    }
}



